# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/
backend/database/*.db
backend/uploads/ultrasound/*
backend/uploads/gradcam/*
backend/reports/*
!backend/uploads/ultrasound/.gitkeep
!backend/uploads/gradcam/.gitkeep
!backend/reports/.gitkeep

# Node
node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
